While loop:

In [3]:
count = 1                   #count is iterator 
while(count <= 5):          #jab tak condition true hein run the loop
    print("ISHA You are very excellent in Python")
    count += 1              #updation 
print("Value of count is : ",count)

ISHA You are very excellent in Python
ISHA You are very excellent in Python
ISHA You are very excellent in Python
ISHA You are very excellent in Python
ISHA You are very excellent in Python
Value of count is :  6

Print the numbers from 5 to 1

In [5]:
i = 5
while(i >= 1):
    print("Hello")
    i -= 1
print("Hello is printed : ", count)

Hello
Hello
Hello
Hello
Hello
Hello is printed :  6

WAP to print numbers from 1 to 100

In [10]:
number = 1
while(number <= 100):
    print(number , end=" ")
    number += 1
print()
print("Numbers printed from 1 to 100 successfully")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100
Numbers printed from 1 to 100 successfully

WAP to print numbers from 100 to 1

In [12]:
number = 100
while(number >= 1):
    print(number, end =" ")
    number -= 1
print()
print("Numbers printed from 100 to 1")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
Numbers printed from 100 to 1

WAP to Print the multiplication table of a number n

In [15]:
number = int(input( number))
count = 1
while(count <= 10):
    print(f"{number} * {count} = ", number*count)
    count += 1
print("Learn the above table")

5 * 1 =  5
5 * 2 =  10
5 * 3 =  15
5 * 4 =  20
5 * 5 =  25
5 * 6 =  30
5 * 7 =  35
5 * 8 =  40
5 * 9 =  45
5 * 10 =  50
Learn the above table

WAP to Print the multiplication table of a number n USING FUNCTIONS

In [ ]:
def multiplication_table(number):       #DEFINATION OF FUNCTION
    count = 1
    while(count <= 10):
        print(f"{number} * {count} = ", number*count)
        count += 1

multiplication_table(45)     #CALLING OF FUNCTION

4 * 1 =  4
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28
4 * 8 =  32
4 * 9 =  36
4 * 10 =  40

WAP to Print the elements of the following list using a loop

In [34]:
fruits = ['banana', 5, 'apple', 80, 'pomegranate', 70, 'mango']
fruit = 0
while(fruit < len(fruits)):
    print(fruits[fruit], end =" ")
    fruit += 1
print()
print("Length of list is = ", len(fruits))
print("Successfully printed the list of items in list")

banana 5 apple 80 pomegranate 70 mango
Length of list is =  7
Successfully printed the list of items in list

WAP to Print the elements of the following list using a loop using following below loop using functions

In [ ]:
def prints_list_element(list):
    item_in_list = 0  #iterator
    while(item_in_list < len(list)):
        print(list[item_in_list] , end = " ")
        item_in_list += 1
print("All items of list printed successfully using functions ")



prints_list_element([1,4,9,16,25,36,49,64,81,100])

All items of list printed successfully using functions
1 4 9 16 25 36 49 64 81 100

WAP to search for my lucky number in tuple

In [20]:
def searching_number_in_tuple(tuple):
    number = int(input())
    if number in tuple:
        print(f"{number} is present in {tuple} successfully")
    else:
        print(f"{number} not found in {tuple}")
print("Searching process ended successfully") 


searching_number_in_tuple((1,4,9,16,25,36,49,64,81,100))

Searching process ended successfully
1011 not found in (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [17]:
def searching_number_in_tuple(tuple):
    number = int(input())
    index = 0
    while(index < len(tuple)):
        if number == tuple[index]:
            print("Number found at index ", index)
        index += 1

searching_number_in_tuple((1,4,9,16,25,36,49,64,81,100))

Number found at index  4

WAP to print all th eelements in list using for loop

In [26]:
numbers_list = [1,4,9,16,25,36,49,64,81,100]

for val in numbers_list:
    print(val)

1
4
9
16
25
36
49
64
81
100

search for a number x in this tuple.

In [47]:
def search_x(tuple, x):
    idx = 0
    for item in tuple:
        if item == x:
            print(f"{x} found at ", idx)
        idx += 1
x = int(input())
search_x((1,4,9,16,25,36,49,64,81,100,49),x)

49 found at  6
49 found at  10

check susbtring is print in main string or not:

In [ ]:
# name = "Ishasharma"
# subname = str(input())
# if subname in name:
#      print(f"{subname} substring is present in {name}")
# else: 
#      print(f"{subname} substring not found in {name}")

Not found

check susbtring is print in main string or not: using function

In [68]:
def substring_check(string):
    sub = str(input())
    if sub in string:
        print(f"{sub} is present in {string}")
    else:
        print("Not found")

substring_check("Ishasharma")

shar is present in Ishasharma

WAP to remove duplicate characters from string

In [ ]:
s = "ababababa"
final_string = ""
for char in s:
    if char not in final_string:
        final_string += char
print("Final string after removing duplicates = ", final_string)

Final string =  ab

In [73]:
def remove_duplicates(string):
    final_string = ""
    for char in string:
        if char not in string:
            final_string += char
print(final_string)

remove_duplicates("ababababa")

ab

WAP to find each character how many times is present in string.

In [13]:
strin = "abababa"
result = {}

for char in strin:
    if char in result:
        result[char] += 1 
    else:
        result[char] = 1 

for char in result:
    print(f"{char} = {result[char]}",end =" ")

a = 4 b = 3

In [93]:
group_files = ["file1.csv", "isha.java", "sachit.csv", "opim.py"]
csv_list = []
for item in group_files:
    if ".csv" in item:
     csv_list.append(item)
print(csv_list)

['file1.csv', 'sachit.csv']

In [115]:
def csv_listing(list_of_files):
    csv_lists = []
    for item in list_of_files:
        if (".csv" in item):
            csv_lists.append(item)
    return csv_lists


list_of_files = ["file1.csv", "isha.java", "sachit.csv", "opim.py"]
csv_lists = csv_listing(list_of_files)
print(csv_lists)

['file1.csv', 'sachit.csv']

In [117]:
statement = [("credit", 600), ("debit", 200), ("credit", 600), ("debit", 200)]
total_credit_amount = 0
total_debit_amount = 0
for key, value in statement:
    if key == "credit":
        total_credit_amount += value
    else:
        total_debit_amount += value
print("Total credit amount is : ", total_credit_amount)
print("Total debit amount is : ", total_debit_amount)

Total credit amount is :  1200
Total debit amount is :  400

In [118]:
def statement_report(statements):
    total_credit = 0
    total_debit = 0
    for k, v in statements:
        if k == "credit":
            total_credit += v
        else:
            total_debit += v
    return total_credit, total_debit
    
statements = [("credit", 600), ("debit", 200), ("credit", 600), ("debit", 200)]
credit, debit = statement_report(statements)
print(credit)
print(debit)

1200
400

In [124]:
s = "abababa"
count = {}

for char in s:
    if char in count:
        count[char] += 1
    else:
        count[char] = 1

for item in count:
    print(f"{item} is {count[item]} times in {s}")

a is 4 times in abababa
b is 3 times in abababa

In [ ]:
s = "Duugu khushi sulabh"
s1 = s.split()
# print(s1)
s2 = s1[::-1]
print(s2)

['sulabh', 'khushi', 'Duugu']

In [139]:
s = "IshaSharma"
print("Charcaters at even position  : ", s[::2])
print("Charcaters at odd position  : ", s[1::2])

Charcaters at even position  :  IhSam
Charcaters at odd position  :  sahra

In [141]:
s = "B4A1D3"
s1 = ""
s2 = ""

for char in s:
    if char.isalpha():
        s1 += char
    else:
        s2 += char
print(s1, end="")
print(s2)

BAD413

In [144]:
s1 = "isha"
s2 = "sharma"
output = ""
for x in sorted(s1):
    output += x
for x in sorted(s2):
    output += x
print(output)

ahisaahmrs

In [158]:
s = "I am isha"
l = s.split()
l1 = []
for word in l:
    l1.append(word[::-1]) 
print(l1)

output=" ".join(l1)
print(output)

['I', 'ma', 'ahsi']
I ma ahsi

In [197]:
str1 = "Python"
str2 = "dajngo"

new_str = ""

new_str += str1[0]
new_str += str2[0]
print(new_str)

mid1 = (len(str1)//2) 
mid2 = (len(str2)//2)

new_str += str1[mid1-1]
new_str += str2[mid2-1]
print(new_str)

last_char1 = len(str1)
last_char2 = len(str2)

new_str += str1[last_char1-1]
new_str += str2[last_char1-1]
print(new_str)

Pd
Pdtj
Pdtjno

WAP to merge two lists

In [1]:
list1 = [1,2,3]
list2 = [6,7,8]
list3 =[]
for item in list1:
    list3.append(item)
for item in list2:
    list3.append(item)

print(list3)

[1, 2, 3, 6, 7, 8]

In [11]:
s1 = "shree", "hari", "shree"
s2 = str(s1)
print(s2)
print(type(s2))

('shree', 'hari', 'shree')
<class 'str'>

WAP to merge two lists without using append built in method

In [4]:
list1 = [1,2,3]
list2 = [6,7,8]
list3 =[]
for item in list1:
    list3 += [item]
for item in list2:
    list3+= [item]
print(list3)

[1, 2, 3, 6, 7, 8]

In [ ]:
l1 = [1,2,3]
l2 = [5,6,7]

l1.extend(l2)
print(l1)

[1, 2, 3, 5, 6, 7]

In [31]:
l1 = [1,2,3]
l2 = [5,6,7]

l1.append(l2)
print(l1)

[1, 2, 3, [5, 6, 7]]

In [ ]:
l1 = [1,2,3]
l2 = [5,6,7]

for item in l2:
    l1 += [item]  
print(l1)

[1, 2, 3, 5, 6, 7]

In [ ]:
l1 = [2,5,6,3,7,2,8,3,7,7]
l2 = []

for item in l1:
    if item not in l2:
        l2 += [item] 
print(l2)

[2, 5, 6, 3, 7, 8]