In [1]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [3]:
import pandas as pd

print(pd.__version__)

2.3.3

<h3>Create a simple Pandas Series from a list:</h3>

In [6]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

print(myvar[0])
print(myvar[1])

0    1
1    7
2    2
dtype: int64
1
7

In [9]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"]) 

print(myvar)

print(myvar["y"])
print(myvar["z"])

x    1
y    7
z    2
dtype: int64
7
2

Student Records

   student  rank
0    Amit     1
1    John     4
2   Ankit     3
3   David     5
4   Sumit     2