In [1]:
import pandas as pd

#dict of list is there in data
data = {
    'student': ["Amit","John","Ankit","David","Sumit"],
    'rank': [1,4,3,5,2]
}

res = pd.DataFrame(data)
print("Student Records \n\n",res)

Student Records

   student  rank
0    Amit     1
1    John     4
2   Ankit     3
3   David     5
4   Sumit     2

---

Pandas Dataframe using Python Dictionary

---

In [ ]:
import pandas as pd

#dataset
data = {
    'student' : ["Amit", "John","Jacob","David","Steve"],
    'rank' : [1,4,3,5,2],
    'marks' : [95,70,80,60,90] 
}

df = pd.DataFrame(data)
print("Records:\n\n", df)

Records:

   student  rank  marks
0    Amit     1     95
1    John     4     70
2   Jacob     3     80
3   David     5     60
4   Steve     2     90

---

Create a DataFrame using dict of dict

---

In [3]:
import pandas as pd
names = ["Ajay","Amit","Ayushi","Aarvi","Puzzu"]
ages = [22,24,20,24,26] #create another list
fees = [True, False, True,True,False]
dict_names = {k:v for k,v in enumerate(names)}  #dictionary
print("dict_names : ",dict_names)
dict_ages = {k:v for k,v in enumerate(ages)}
print("dict_ages : ",dict_ages)
dict_fees = {k:v for k,v in enumerate(fees)}
print("dict_fees : ",dict_fees)

#create the pandas dataframe
students = pd.DataFrame({'Name':dict_names,'Age':dict_ages,'Fees Submitted': dict_fees})

#print dataframe
print(students)

dict_names :  {0: 'Ajay', 1: 'Amit', 2: 'Ayushi', 3: 'Aarvi', 4: 'Puzzu'}
dict_ages :  {0: 22, 1: 24, 2: 20, 3: 24, 4: 26}
dict_fees :  {0: True, 1: False, 2: True, 3: True, 4: False}
     Name  Age  Fees Submitted
0    Ajay   22            True
1    Amit   24           False
2  Ayushi   20            True
3   Aarvi   24            True
4   Puzzu   26           False

---

Pandas DataFrame Using Python List

---

In [7]:
import pandas as pd

#create a two-dimensional list 
data = [['Ajay',25,'Indore'],['Amit',30,'Indore'],['Ayush',35,'Pune']]

#create a Dataframe from the list 
df = pd.DataFrame(data, columns = ['Name','Age','City'])
print(df)

    Name  Age    City
0   Ajay   25  Indore
1   Amit   30  Indore
2  Ayush   35    Pune

---

Create a DataFrame using dict of tuples

---

In [ ]:
import pandas as pd
tup_names = ("Ayush","Sulabh","Mohit","Ankit","Amit")   #create a tuple
tup_ages = (22,24,20,24,26) #create tuple
tup_fees = (True,False,True,True,False)

#create the pandas dataframe
student_details = pd.DataFrame({'Name':tup_names,'Age': tup_ages,'Fees Submitted': tup_fees}) 

print(students)

     Name  Age  Fees Submitted
0    Ajay   22            True
1    Amit   24           False
2  Ayushi   20            True
3   Aarvi   24            True
4   Puzzu   26           False

---

Create a DataFrame using dict of series

---

In [5]:
import pandas as pd
names = ["Asihsh","Ayush","Amit","Ankit","Anupam"]   #create a list
ages = [22,24,20,24,26] #create another list
fees = [True, False,True,True,False]
series_names = pd.Series(names) #create series
series_ages = pd.Series(ages) 
series_fees = pd.Series(fees)
students = pd.DataFrame({'Name':series_names,'Age':series_ages,'Fees_Submittted':series_fees})
print(students)     #print dataframe

     Name  Age  Fees_Submittted
0  Asihsh   22             True
1   Ayush   24            False
2    Amit   20             True
3   Ankit   24             True
4  Anupam   26            False

---

Create DataFrame using the zip() function

---

In [13]:
import pandas as pd
names = ["Asish","Ayus","Amit","Ankit","Anupam"]    #create a list
ages = [22,24,20,24,26]
fees = [True,False,True,True,False]
list(zip(names,ages,fees))  #zipped list

#unzip the list
unzip_file = [{'names':names,'ages':ages,'fees':fees}for names,ages,fees in zip(names,ages,fees)]
students = pd.DataFrame(unzip_file) #create the pandas dataframe
print(students) #print dataframe

    names  ages   fees
0   Asish    22   True
1    Ayus    24  False
2    Amit    20   True
3   Ankit    24   True
4  Anupam    26  False

---

Pandas DataFrame from a file

---

In [ ]:
import pandas as pd
#load data from a CSV file
df = pd.read_csv('data.csv')    #read_csv is for reading csv files and read_json is for reading json files and read_excel is for reading excel files
print(df)

---

Create an Empty DataFrame

---

In [15]:
import pandas as pd
#create an empty DataFrame
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

---

what is zip()?

---

zip() is a built-in Python function that groups items from two or more sequences (like lists, tuples, or strings) into tuples, position by position. It returns an iterator of these tuples, which you usually convert to a list or use in a loop.Think of it like zipping two sides of a zipper together.

Simple definition
zip() takes multiple iterables and pairs the 1st elements together, then the 2nd elements, and so on.

It stops when the shortest iterable runs out.

Syntax: zip(iterable1, iterable2, ...)

Example 1: Combine two lists

In [17]:
names = ["Amit", "John", "Jacob"]
marks = [95, 70, 80]

paired = list(zip(names, marks))
print(paired)
# Output: [('Amit', 95), ('John', 70), ('Jacob', 80)]
#Here, first elements are paired together, then second elements, and so on.

[('Amit', 95), ('John', 70), ('Jacob', 80)]

Example 2: Different lengths

In [18]:
students = ["Amit", "John", "Jacob", "David"]
ranks = [1, 4, 3]

result = list(zip(students, ranks))
print(result)
# Output: [('Amit', 1), ('John', 4), ('Jacob', 3)]
#Extra items in the longer list are ignored because zip() stops at the shortest list.

[('Amit', 1), ('John', 4), ('Jacob', 3)]

Example 3: Using zip() in a loop

In [ ]:
students = ["Amit", "John", "Jacob"]
marks = [95, 70, 80]

for name, mark in zip(students, marks):
    print(name, "scored", mark)
#This is very useful for looping over multiple lists at the same time.

Amit scored 95
John scored 70
Jacob scored 80

---

Example 4: Creating a dictionary with zip()

---

In [6]:
students = ["Amit", "John", "Jacob"]
marks = [95, 70, 80]

marks_dict = dict(zip(students, marks))
print(marks_dict)
# Output: {'Amit': 95, 'John': 70, 'Jacob': 80}
#Here, zip() helps make a dictionary where one list becomes keys and the other becomes values.

{'Amit': 95, 'John': 70, 'Jacob': 80}

zip() is a built-in Python function that groups items from two or more sequences (like lists, tuples, or strings) into tuples, position by position. It returns an iterator of these tuples, which you usually convert to a list or use in a loop.

Simple definition
zip() takes multiple iterables and pairs the 1st elements together, then the 2nd elements, and so on.

It stops when the shortest iterable runs out.

Syntax: zip(iterable1, iterable2, ...)

In [20]:
names = ["Amit", "John", "Jacob"]
marks = [95, 70, 80]

result = list(zip(names, marks))
print(result)
# [('Amit', 95), ('John', 70), ('Jacob', 80)]

[('Amit', 95), ('John', 70), ('Jacob', 80)]

Using zip() in a loop
You can loop over multiple lists at the same time:

In [21]:
students = ["Amit", "John", "Jacob"]
ranks = [1, 4, 3]

for name, rank in zip(students, ranks):
    print(name, "has rank", rank)

Amit has rank 1
John has rank 4
Jacob has rank 3

Creating a dictionary with zip()
One common use is to make a dictionary from two lists:

In [22]:
students = ["Amit", "John", "Jacob"]
marks = [95, 70, 80]

student_marks = dict(zip(students, marks))
print(student_marks)
# {'Amit': 95, 'John': 70, 'Jacob': 80}

{'Amit': 95, 'John': 70, 'Jacob': 80}

In simple words: zip() “ties together” elements from multiple sequences into grouped pairs (or triples, etc.) based on their positions.

---

enumerate() is a built-in Python function that gives you both the index (position) and the value when you loop over a list, tuple, string, etc.​

Simple meaning
In simple words: enumerate() adds a counter (0, 1, 2, 3, …) to each item in your sequence.​
Syntax: enumerate(iterable, start=0) – start is optional and decides from which number counting begins.​

---

In [ ]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)
#Here, index is the position, and fruit is the actual item.

0 apple
1 banana
2 cherry

With custom starting index

In [8]:
fruits = ["apple", "banana", "cherry"]

#You can start counting from any number, not just 0 
for index, fruit in enumerate(fruits, start=1):
    print(index, fruit)

1 apple
2 banana
3 cherry